
.globalnav-wrapper{
    width: 100%;
    height: 48px;
    position : fixed;
    z-index : 9999;
    backdrop-filter: blur(20px) saturate(80%);
    display:flex;
    justify-content: center;
    top: 0;
}

.globalnav-contents{
    max-width: 1200px;
    width : 100%;
    height: inherit;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.globalnav-submenu-trigger-link{
    display: flex;
    padding: 0 12px;
    height: 100%;
    align-items: center;
}
.globalnav-submenu-trigger-item{
    list-style: none;
    height: 100%;
    
}

.globalnav-list{
    width: auto;
    height: 100%;
    display: flex;
    font-size:12px;
    font-weight: 400;
    color: #0C0C20;
    align-items: center;
    justify-content: space-between;
}
  
.logo {
font-size: 1.25rem;
font-weight: 500;
color: #3b82f6;
}


