@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.Result_page_multiple_choice {
    width: 85%;
    min-height: 200px;
    padding: 10px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid rgba(87, 87, 87, 0.1); */
    border-radius: 15px;
}

.Result_page_multiple_choice .Result_page_multiple_choice_answer {
    position: relative;
    background-color: #F6FAF9;
    border: 2px solid rgba(129, 129, 129, 0.1);
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    word-wrap: break-word;
    white-space: normal;
}

.Result_page_multiple_choice_answer .Result_page_multiple_choice_answer_question {
    position: relative;
    justify-content: left;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
    background-color: #f6faf9;
    border-radius: 15px;
    margin: 10px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    flex: 1; 
}

.Result_page_multiple_choice_answer .Result_page_multiple_choice_answer_question h2 {
    margin-bottom: 10px; 
}

@media screen and (max-width: 768px) {
    .Result_page_multiple_choice {
        width: 90%;
    }

    .Result_page_multiple_choice_answer .Result_page_multiple_choice_answer_question {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .Result_page_multiple_choice {
        width: 95%;
    }

    .Result_page_multiple_choice_answer .Result_page_multiple_choice_answer_image {
        width: 100px; 
        height: 100px;
    }

    .Result_page_multiple_choice_answer .Result_page_multiple_choice_answer_question {
        font-size: 12px;
        padding: 5px;
        margin: 5px;
    }
}
