@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


.Result_page_question {
    position: relative;
    background-color: #77B9F2;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    height: 40px;
    border-radius: 15px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    font-size: 20px;
}